<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.umkc.fatima.myplugin.igreeter">
      <friend
            class="edu.umkc.fatima.myextensions.greeterEnglish">
      </friend>
      <friend
            class="edu.umkc.fatima.myextensions.greeterSwahili">
      </friend>
      <friend
            class="edu.umkc.fatima.myextensions.greeterArabic">
      </friend>
   </extension>

</plugin>
